body{
  background: #eee;
  background: black;
}
#clickbtn{
  float: right;
  margin-right: 28px;
  margin-top: 2px;
  width: 42px;
  padding: 10px 20px 10px 20px;
  background-color: #FFA800;
}
.message{
  color: red;
  display: none;
  float: left;
  padding-top: 10px;
  text-align: center;
  width: 1165px;
}
#options {
  text-align: center;
  height: 45px;
}

#container {
  width: 100%;
  height: 800px;
  margin: 10px auto;
}

#filters, #layouts {
  /*display: none;*/
  margin: 10px;
}
a {
  color: #ffffff;
  text-decoration: none;
  display: inline;
}
.legend{
  color: silver;
}
.span{
  color: silver;
  display:inline-block;
  margin-right:10px;
  margin-left:10px;  
}
#searchField,
#datasource, #lt, #nodesizeby{
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  width:200px;
}
#filters{
  float: left;
  width: 600px;
}
#layouts{
  float: left;
  width: 600px;
}
.slider-fieldset{
  float: left;
  margin: 10px;
  width: 1244px;
  height:120px;
}
.load-container{
  position:relative;
}
.load-container img{
  height: 25px;
  position: absolute;
  right: 120px;
  top: 256px;
  width: 25px;
}
#neighborcount{
  float: left;
  width:414px;
}
#pagerank{
  float: left;
  width:414px;
}
#nodecentrality{
  float:left;
  width:414px;
}
.n-label{
  color:silver;
  display: inline-block;
  margin-bottom: 30px;
  margin-top: 5px;
  width:100%;
  text-align:center;
}
.p-label{
  color:silver;
  display: inline-block;
  margin-bottom: 30px;
  margin-top: 5px;
  width:100%;
  text-align:center;
}
.no-label{
  color:silver;
  display: inline-block;
  margin-bottom: 30px;
  margin-top: 5px;
  width:100%;
  text-align:center;
}
.main-fieldset .slider-container .back-bar .pointer-label {
  background: lightgreen none repeat scroll 0 0;
  color: black;
  font-size: 15px;
  padding: 4px;
  top: -25px;
}
.main-fieldset .slider-container .scale ins {
  font-size:15px;
}
.slider-container{
  margin:0 auto;
}
/******************************* CSS for chrome only ********************************/
@media screen and (-webkit-min-device-pixel-ratio:0) {

	.load-container img {
		top: 248px;
		right:107px;
	}
	.slider-fieldset {
		width: 1248px;
	}
	#clickbtn {
		margin-right: 15px;
	}
}